.contact {
	background: #F8F8F8;
}
.contact .container-back{
	margin: 100px 0;
}

.container-back.data {
	margin: 100px 0 0;
}
.data .container-text {
	text-align: center;
}
.content-box {
	position: relative;
  overflow: hidden;
}
.container-bg {
  float: left;
  width: 50%;
  height: 535px;
  -webkit-background-size:100%;
  -moz-background-size:100%;
 	-o-background-size:100%;
  background-size:100%;
}
.container-bg.form{
	background: url(../images/contact.jpeg)  no-repeat;
	-webkit-background-size:117%;
  -moz-background-size:117%;
 	-o-background-size:117%;
  background-size:117%;
}
.container-text h2 {
	padding: 15px;
	margin: 0 auto;
}
.contact-form {
	margin: 80px 0 30px;
	color: #263238;
	text-align: center;
	background: #fff;
}
.contact-form input[type=text] {
	display: block;
	width: 82%;
	line-height: 24px;
	margin: 30px auto;
	color: #999999;
	padding: 16px 13px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.contact-form h3 {
	text-transform: uppercase;
	color:#263238;
	font-family: "RobotoLight";
	margin: 20px;
}
.contact-form .but {
	-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #263238;
  background: transparent;
  color: #263238;
  position: relative;
  line-height: 20px;
  width: 82%;
  box-shadow: none;
}
.contact-form .but:hover {
	background: #263238;
	color: #fff;
}
