section.delivery .container-bg{
	background: url(../images/delivery-and-payment-page/post.jpeg)  no-repeat;
	-webkit-background-size:100%;
  -moz-background-size:100%;
 	-o-background-size:100%;
  background-size:100%;
}
section.payment .container-bg{
	background: url(../images/delivery-and-payment-page/priv.jpeg)  no-repeat;
	-webkit-background-size:100%;
  -moz-background-size:100%;
 	-o-background-size:100%;
  background-size:100%;
}
section.delivery .container-text h2,section.payment .container-text h2{
	text-align: left;
	padding: 15px 15px 0;
}
section.delivery .container-back{
	margin: 85px 0 55px;
}