
.grey-string{
	background:#263238;
	position: relative;
}
.grey-string:after{
	content: "";
	position: absolute;
	border-top: 50px solid #263238;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent; 
	left: 0;  	
	right: 0;
	display: block;
	width: 0px;
  height: 0px;
  overflow: auto;
  margin: 0 auto;
}
.grey-string h2{	
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Poiret One', cursive;
	font-size: 60px;
	color: #3DC9B3;
	text-shadow:2px 2px 2px #000;
	margin: 10px 0;	
}
.container-back{
	margin:85px 0;	
	background:#fff;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}
.gallery{
	background:#F8F8F8;
}
.gallery img{
	margin: 8px 17px;
	max-width: 30%;
	-webkit-transition: -webkit-all .5s ease;
  -moz-transition: -moz-all .5s ease;
  -o-transition: -o-all .5s ease;
	transition:all .5s ease;
}
.gallery img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.gallery h4{
	text-transform: uppercase;
	line-height: 40px;
	margin: 13px 0 5px;
	text-align: center;
}

/*Fancybox title*/
div.fancybox-title-over-wrap{
	text-align: center;
	width: 100%;
	font-size: 28px;
	background: rgba(38,50,56, .5);
	font-family: "RobotoLight";
}