/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	/*Home-page*/
	.menu a{
		margin: 0 auto;
		font-size: 29px;
    padding: 3px 1px;
	}
	.menu ul{
		display:none;
		line-height: 40px; 
		padding: 0px 0 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
	}
	.menu li {
    display: block;
	}
	.menu img {
	  float: none; 
	}
	.but {
		line-height: 36px;
		width: 20%;;
		top: -9%;
	}
	.f-item {
		margin: 160px 0 0 50px;
	}
	.prev_button {
  	left: 1%;
	}
	.next_button {
    right: 1%;
	}

	/*Gallery-page*/
	.gallery img {
	  margin: 12px 14px;
	}

	/*Info-page*/
	.about-string{
		height: 192px;
	}
	.container-text {
	  font-size: 65%;
	}
	.container-text h2, p {
		padding: 10px;
	}
	.container-bg{
  	height: 440px;
	}

	/*Contact page*/
	.contact-form {
    margin: 40px 0;
	}
	.contact-form input[type=text] {
	  line-height: 18px;
	  margin: 30px auto;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	/*Home-page*/
	.header {
    height: 400px;
	}
	.header__video-title {
		padding: 3%;
	}
	.grid li{
		margin: 0px 20%;
	}
	.grid p{
		font-size:25px;
	}
	.content p {
		font-size: 50px;
	}
	.on{
	  -webkit-transform: translateY(-423px);
	  -moz-transform: translateY(-423px);
	  -ms-transform: translateY(-423px);
	  -o-transform: translateY(-423px);
	  transform: translateY(-423px);
	}
	.but {
		width: 22%;
		top: -9%;
	}
	.f-item {
		display: inline-block;
		margin: 20px 0 20px 35%;
	}
	.wheel {
    padding:0;
	}
	#bic{
		max-width: 100px;
	}

	/*Gellery-page*/
	.gallery img{
		margin: 0 10px;
	} 

	/*Info-page*/
	.about-string{
		height: 152px;
	}
	.container-bg{
  	height: 396px;
	}

	/*Contact-page*/
	.contact-form {
    margin: 30px 0;
	}
	.contact-form input[type=text] {
	  line-height: 16px;
	  margin: 30px auto;
	}
	.container-bg.form {
	  -webkit-background-size: 130%;
	  -moz-background-size: 130%;
	  -o-background-size: 130%;
	  background-size: 130%;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Home-page*/
	.menu img {
		padding: 15px 0;
		max-width: 170px; 
	}
	.header {
   	height: 800px;
	}

	.arrow {
    margin: 11% 0 5%;
	}
	.grid li{
		margin: 0px 20%;
	}
	.on{
	  -webkit-transform: translateY(-423px);
	  -moz-transform: translateY(-423px);
	  -ms-transform: translateY(-423px);
	  -o-transform: translateY(-423px);
	  transform: translateY(-423px);
	}
	.but {
		line-height: 27px;
		width: 200px;
		top: -18%;
	}
	.wheel {
    padding:0;
	}
	#bic{
		max-width: 150px;
	}
	.next_button,.prev_button{
		bottom: 40%;
		font-size: 70px;
	}
	.scrollToTop {
		width: 40px;
    height: 40px;
    right: 0;
    bottom: 0;
	}
	.scrollToTop i{
		font-size: 35px;
	}

	/*Gellery-page*/
	.gallery img{
		margin: 0 5px;
	}
	.container-back {
	  margin: 45px 0;
	}
	.grey-string:after {
		border-top: 25px solid #263238;
    border-left: 40px solid transparent;
   	border-right: 40px solid transparent;
	}

	/*Info-page*/
	.about-string{
		height: 110px;
	}
	.grey-string h2 {
    font-size: 42px;
	}
	.container-text {
	  font-size: 47%;
	}
	.container-text h2, p {
		padding: 8px;
	}
	.container-bg{
  	height: 259px;
	}

	/*Delivery-and-payment-page*/
	section.delivery .container-bg{
		-webkit-background-size:77%;
	  -moz-background-size:77%;
	 	-o-background-size:77%;
	  background-size:77%;
	}
	section.payment .container-bg{
		-webkit-background-size:89%;
	  -moz-background-size:89%;
	 	-o-background-size:89%;
	  background-size:89%;
	}

	/*Contact-page*/
	.contact-form {
    margin: 20px 0;
	}
	.contact-form input[type=text] {
	  line-height: 12px;
	  margin: 10px auto;
	  padding: 10px 13px;
	}		

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	/*Home-page*/
	.menu a{
		font-size: 25px;
	}
	.header {
    height: 500px;
	}
	.header__video-title h1 {
    font-size: 25px;
	}
	.header__video-title p {
    font-size: 20px;
	}
	#pause{
		display: none;
	}
	.content p {
		font-size: 40px;
    padding: 40% 0;
	}
	.on{
	  -webkit-transform: translateY(-270px);
	  -moz-transform: translateY(-270px);
	  -ms-transform: translateY(-270px);
	  -o-transform: translateY(-270px);
	  transform: translateY(-270px);
	}
	.three{
		background:url(../images/home-page/cut.jpg) 10% 100%	no-repeat;
		-webkit-background-size:auto;
  	-moz-background-size:auto;
  	-o-background-size:auto;
  	background-size:auto;
  	background-attachment:fixed;	
	}
	.three h2 {
    font-size: 47px;
	}
	.but{
		line-height: 22px;
	  height: 11%;
	  width: 200px;
	  top: -19%;
	}
	.next_button,.prev_button{
		bottom: 40%;
		font-size: 70px;
	}
	.slide-item p {
		font-size: 30px;
	}
	.f-item {
		font-size: 14px;
		display: inline-block;
		margin: 20px 0 20px 110px;
	}
	.wheel {
    padding:0;
	}
	#bic{
		max-width: 150px;
	}

	/*Gellery-page*/
	.gallery img{
		margin: 0 3px;
	}
	div.fancybox-title-over-wrap{
		font-size: 20px;
		padding: 3px;
	}
	.gallery h4{
		line-height: 24px;
		margin: 13px 0 5px;
		font-size: 14px;
	}
	.grey-string h2{
		font-size: 33px;
		margin: 10px 0;	
	}

	/*Info-page*/
	.about-string{
		height: 93px;
	}
	.container-text {
	  font-size: 35%;
	}
	.container-text h2, p {
		padding: 9px;
	}
	.container-bg{
  	height: 202px;
	}

	/*Contact-page*/
	.contact-form {
    margin: 20px 0;
	}
	.contact-form h3 {
   	margin: 14px 20px;
	}
	.contact-form input[type=text] {
	  width: 82%;
	  line-height: 15px;
	  margin: 10px auto;
    padding: 5px 13px;
	}	
	.contact-form .but {
		line-height: 12px;
		font-size: 10px;
		padding: 7px;
	}	

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	/*Home-page*/
	.header {
    height: 400px;
	}
	.header__video-title {
		padding: 1% 2%;
	}
	.grid p {
    font-size: 12px;
	}
	.content p {
	  font-size: 20px;
	  padding: 30% 0;
	}
	.on{
	  -webkit-transform: translateY(-174px);
	  -moz-transform: translateY(-174px);
	  -ms-transform: translateY(-174px);
	  -o-transform: translateY(-174px);
	  transform: translateY(-174px);
	}
	.but{
		width: 150px;
		top: -19%;
		font-size: 11px;
    line-height: 8px;
	}
	.prev_button {
    left: 1%;
	}
	.next_button {
    right: 1%;
	}
	.next_button,.prev_button{
		bottom: 40%;
		font-size: 70px;
	}
	.slide-item p {
		font-size: 30px;
	}
	.f-item {
		display: inline-block;
		margin: 20px 0 20px 35px;
	}
	.wheel {
    padding:0;
	}
	#bic{
		max-width: 106px;
	}
	.footer-down h6 {
		font-size: 10px;
	}
	.scrollToTop {
		width: 40px;
	  height: 40px;
	  right: 0;
	  bottom: 0;
	}
	.scrollToTop i{
		font-size: 35px;
	}

	/*Info-page*/
	.about-string{
		height: 62px;
	}
	.container-text {
	  font-size: 27%;
	}
	.container-text h2, p {
		padding: 4px;
	}
	.container-bg{
  	height: 145px;
	}
	.about .container-bg{
		height: 139px;
	}

	/*Contact page*/
	.contact-form {
    margin: 5px 0;
	}
	.contact-form h3 {
   	margin: 5px 10px;
	}
	.contact-form input[type=text] {
	  width: 82%;
	  line-height: 10px;
	  margin: 7px auto;
    padding: 5px 13px;
	}	
	.contact-form .but {
		line-height: 6px;
		font-size: 10px;
		padding: 7px;
	}
		    
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}