.about {
	background: #F8F8F8;
}
.about .container-back{
	margin: 85px 0 65px;
}
.content-box{
	position: relative;
  overflow: hidden;
}
.container-bg {
  float: left;
 	width: 50%;  
 	height: 535px;
}
.container-bg.up{
	background: url(../images/info-page/about-img-1.jpeg)  no-repeat;
	-webkit-background-size:100%;
  -moz-background-size:100%;
 	-o-background-size:100%;
  background-size:100%;
}
.container-bg.down{
	background: url(../images/info-page/about-img-2.jpeg)  no-repeat;
	-webkit-background-size:100%;
  -moz-background-size:100%;
 	-o-background-size:100%;
  background-size:100%;
}
.container-text{
	font-weight: bold;
	text-align: justify;
	float: left;
	width: 50%;
  height: 100%;
  color: #263238;
}
.container-text h2, p{
	padding: 15px;
	margin: 0 auto;
}
.container-text p{
	font-weight: normal;
}
.info.container-back{
	margin: 0 0 65px;
}
.info.container-text{
	text-align: center;
	float: none;
	width: 100%;
}
.info.container-text p{
	text-align: justify;
}