
@media only screen and (max-width : 1366px) {
	.header {
    height: 578px;
	}
}
@media only screen and (max-width : 1200px) {
	/*Home-page*/
	.menu a{
		margin: 0 auto;
		font-size: 29px;
    padding: 3px 1px;
	}
	.menu ul{
		display:none;
		line-height: 40px; 
		padding: 0px 0 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
	}
	.menu li {
    display: block;
	}
	.menu img {
	  float: none; 
	}
	.but {
		line-height: 36px;
		width: 20%;;
		top: -9%;
	}
	.f-item {
		margin: 160px 0 0 50px;
	}
	.prev_button {
  	left: 1%;
	}
	.next_button {
    right: 1%;
	}

	/*Gallery-page*/
	.gallery img {
	  margin: 12px 14px;
	}

	/*Info-page*/
	.about-string{
		height: 192px;
	}
	.container-text {
	  font-size: 65%;
	}
	.container-text h2, p {
		padding: 10px;
	}
	.container-bg{
  	height: 440px;
	}

	/*Contact page*/
	.contact-form {
    margin: 40px 0;
	}
	.contact-form input[type=text] {
	  line-height: 18px;
	  margin: 30px auto;
	}
}
@media only screen and (max-width : 1024px) {
	.header__video {
    width: 1024px;
  }
   .header__video-title h1,  .header__video-title p{
  	font-size: 30px;
  }
	.content p {
    font-size: 29px;
    padding: 58% 0;
	}
}

@media only screen and (max-width : 992px) {
	/*Home-page*/
	.header {
    height: 400px;
	}
	.header__video-title {
		padding: 3%;
	}
	.grid li{
		margin: 0px 20%;
	}
	.grid p{
		font-size:25px;
	}
	.content p {
		font-size: 50px;
	}
	.on{
	  -webkit-transform: translateY(-423px);
	  -moz-transform: translateY(-423px);
	  -ms-transform: translateY(-423px);
	  -o-transform: translateY(-423px);
	  transform: translateY(-423px);
	}
	.but {
		width: 22%;
		top: -9%;
	}
	.f-item {
		display: inline-block;
		margin: 20px 0 20px 35%;
	}
	.wheel {
    	padding:0;
	}
	#bic{
		max-width: 100px;
	}

	/*Gellery-page*/
	.gallery img{
		margin: 0 10px;
	} 

	/*Info-page*/
	.about-string{
		height: 152px;
	}
	.container-bg{
  	height: 396px;
	}

	/*Contact-page*/
	.contact-form {
    margin: 30px 0;
	}
	.contact-form input[type=text] {
	  line-height: 16px;
	  margin: 30px auto;
	}
	.container-bg.form {
	  -webkit-background-size: 130%;
	  -moz-background-size: 130%;
	  -o-background-size: 130%;
	  background-size: 130%;
	}

}

@media only screen and (max-width : 768px) {
	/*Home-page*/
	.header__video {
    width: 768px;
  }
  .header__video-title h1,  .header__video-title p{
  	font-size: 25px;
  }
	.menu img {
		padding: 15px 0;
		max-width: 170px; 
	}
	.fa-4x {
    font-size: 3em;
	}
	.content p {
    padding: 50% 0;
	}
	.two{
		margin: 0;
		transform: scale(0.7);
	}
	.three{
		margin: -250px 0;
	}
	.four{
		margin: 345px 0 100px;
	}
	.arrow {
    margin: -31% 0 10%;
	}
	.grid li{
		margin: 0px 22%;
	}
	.on{
	  -webkit-transform: translateY(-423px);
	  -moz-transform: translateY(-423px);
	  -ms-transform: translateY(-423px);
	  -o-transform: translateY(-423px);
	  transform: translateY(-423px);
	}
	.but {
		line-height: 27px;
		width: 200px;
		top: -18%;
	}
	.wheel {
    padding:0;
	}
	#bic{
		max-width: 150px;
	}
	.next_button,.prev_button{
		bottom: 40%;
		font-size: 70px;
	}
	.scrollToTop {
		width: 40px;
    height: 40px;
    right: 0;
    bottom: 0;
	}
	.scrollToTop i{
		font-size: 35px;
	}

	/*Gellery-page*/
	.gallery img{
		margin: 0 5px;
	}
	.container-back {
	  margin: 45px 0;
	}
	.grey-string:after {
		border-top: 25px solid #263238;
    border-left: 40px solid transparent;
   	border-right: 40px solid transparent;
	}

	/*Delivery-and-payment-page*/
	section.delivery .container-text, section.payment .container-text {
    font-size: 69%;
	}
	section.delivery .container-bg, section.payment .container-bg{
		height: 361px;
		background-position: bottom;
	  background-size:contain;
	}

	/*Info-page*/
	.about-string{
		height: 110px;
	}
	section.about .container-bg{
    height: 330px;
	}
	.grey-string h2 {
    font-size: 42px;
	}
	.container-text {
	  font-size: 65%;
	}
	.container-text h2, p {
		padding: 8px;
	}

	/*Contact-page*/
	.contact-form {
    margin: 20px 0;
	}
	.contact-form input[type=text] {
	  line-height: 12px;
	  margin: 23px auto;
	  padding: 10px 13px;
	}	
	section.contact .container-bg{
    height: 330px;
	}	

}

@media only screen and (max-width : 480px) {
	/*Home-page*/
	.menu a{
		font-size: 25px;
	}
	video.header__video{
		display: none;
	}
	#pause{
		display: none;
	}
	.header__video-box{
		background: url(../video/screen.png) 100% 100% no-repeat;
		background-size:cover;
	}
	.header__video-title h1,  .header__video-title p{
  	font-size: 20px;
  }
	.header {
    height: 500px;
	}
	.arrow {
    margin: -255px 0 10%;
	}
  .grid li {
    margin: 0;
	}
	.grid p {
    font-size: 22px;
	}
	.content p {
		font-size: 40px;
    padding: 22% 0;
	}
	.but {
    line-height: 21px;
    height: 13%;
    top: -33%;
	}
	.on{
	  -webkit-transform: translateY(-270px);
	  -moz-transform: translateY(-270px);
	  -ms-transform: translateY(-270px);
	  -o-transform: translateY(-270px);
	  transform: translateY(-270px);
	}
	.three {
    background: url(../images/home-page/cut.jpg) 60% 10% no-repeat;
    background-size: cover;
    background-attachment: fixed;
	}
	.three h2 {
    font-size: 44px;
	}
	.next_button,.prev_button{
		bottom: 40%;
		font-size: 40px;
	}
	.slide-item p {
		font-size: 30px;
	}
	.f-item {
		font-size: 14px;
		display: inline-block;
		margin: 20px 0 20px 60px;
	}
	.wheel {
    padding:0;
	}
	#bic{
		max-width: 150px;
	}

	/*Gellery-page*/
	.gallery img{
		max-width: 73%;
		margin: 13px 42px;
	}
	div.fancybox-title-over-wrap{
		font-size: 20px;
		padding: 3px;
	}
	.gallery h4{
		line-height: 24px;
		margin: 13px 0 5px;
		font-size: 14px;
	}
	.grey-string h2{
		font-size: 27px;
		margin: 10px 0;	
	}

	/*Delivery-and-payment-page*/
	section.delivery .container-bg{
		height: 220px;
		width: 100%;
		background-position: bottom;
	  background-size:69%;
	}
	section.payment .container-bg{
		height: 230px;
		width: 100%;
		background-position: center;	
	  background-size:92%;
	}
	section.delivery .container-text, section.payment .container-text {
		width: 100%;
    font-size: 75%;
	}
	section.delivery .container-back {
    margin: 59px 0 55px;	
	}

	/*Info-page*/
	.about-string{
		height: 93px;
	}
	section.about .container-back {
    margin: 62px 0 65px;
	}
	section.about .container-text {
    width: 100%;
    font-size: 75%;
	}
	.container-text h2, p {
		padding: 14px;
	}
	section.about .container-bg{
		height: 290px;
		width: 100%
	}

	/*Contact-page*/
	.contact-form {
    margin: 20px 0;
	}
	.contact-form h3 {
   	margin: 23px 20px;
	}
	.contact-form input[type=text] {
	  width: 82%;
	  line-height: 18px;
	  margin: 15px auto;
    padding: 5px 13px;
	}	
	.contact-form .but {
		line-height: 12px;
		font-size: 10px;
		padding: 7px;
	}
	.container-back.data {
    margin: 67px 0 0;
	}
	section.contact .container-bg, section.contact .container-text {
		width: 100%
	}
	section.contact .container-bg {
    height: 267px;
	}	

}
@media only screen and (max-width : 360px) {
	/*Home-page*/
	.arrow {
    margin: -230px 0 10%;
	}
 	.content p {
		font-size: 40px;
    padding: 30% 0;
	}
	.but {
    height: 13%;
    top: -36%;
	}
	.f-item {
    margin: 20px 0 20px 58px;
	}
}

@media only screen and (max-width : 320px) {
	/*Home-page*/
	.menu a {
    width: initial;
	}
	.header {
    height: 350px;
	}
	.header__video-title {
		padding: 20px;
	}
	.header__video-title h1, .header__video-title p {
    font-size: 15px;
	}
	.arrow {
    margin: -250px 0 10%;
	}
	.grid p {
    font-size: 20px;
	}
	.content p {
    font-size: 35px;
    padding: 6% 0;
	}
	.on{
	  -webkit-transform: translateY(-174px);
	  -moz-transform: translateY(-174px);
	  -ms-transform: translateY(-174px);
	  -o-transform: translateY(-174px);
	  transform: translateY(-174px);
	}
	.but {
    width: 150px;
    top: -28%;
    font-size: 11px;
    line-height: 16px;
	}
	.four .arrow {
    margin: -286px 0 10%;
	}
	.prev_button {
    left: 1%;
	}
	.next_button {
    right: 1%;
	}
	.slide-item p {
		font-size: 30px;
	}
	.f-item {
		margin: 20px 0 20px 35px;
	}
	.wheel {
    padding:0;
	}
	#bic{
		max-width: 106px;
	}
	.footer-down h6 {
		font-size: 10px;
	}
	.scrollToTop {
		width: 40px;
	  height: 40px;
	  right: 0;
	  bottom: 0;
	}
	.scrollToTop i{
		font-size: 35px;
	}

	/*Gallery-page*/
	.gallery img {
    margin: 23px 32px;
	}
	.grey-string h2 {
    font-size: 24px;
	}
	.gallery h4 {
    font-size: 12px;
	}

	/*Delivery-and-payment-page*/
	section.delivery .container-back {
    margin: 47px 0 55px;
	}
	section.delivery .container-text, section.payment .container-text {
    font-size: 59%;
	}
	section.delivery .container-bg {
    height: 170px;
	}
	
	/*Info-page*/
	.about-string{
		height: 62px;
	}
	section.about .container-back {
    margin: 32px 0;
	}
	section.about .container-text {
    font-size: 66%;
	}
	.container-text h2, p {
		padding: 10px;
	}
	section.about .container-bg{
		height: 251px;
	}

	/*Contact page*/
	.contact-form {
    margin: 13px 0;
	}
	.contact-form h3 {
   	margin: 7px 14px;
	}
	.contact-form input[type=text] {
	  width: 82%;
	  line-height: 17px;
	  margin: 11px auto;
    padding: 5px 13px;
	}
	section.contact .container-bg {
    height: 229px;
	}	
	.contact-form .but {
		line-height: 9px;
		font-size: 10px;
		padding: 10px;
	}
	div.container-back.data {
    margin: 62px 0 0;
	}
	.contact .container-back {
    margin: 54px 0;
	}
		    
}
